h1 {
    color: navy;
    font-size:xx-large;
    text-align:center;
    margin:auto
}

h4 {
    color:black;
    font-size:medium;
    text-align:center;
}

h2 {
    color: navy;
    font-size:medium;
    font-variant-caps: normal;
    font-style: bold;
    text-align:left;
    align-items: baseline;
}

h3{
    color: black;
    font-size: medium;
    font-style: bold;
}

p {
    color: black;
    font-size:small;
}

li{
    color:black;
    font-size: small;
}