body {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 24px;
    background-color: #fafafa;
  }
  
  h1 { 
    font-size: 48px;
    font-weight: bold;
  }
  
  h2 {
    font-size: 36px;
  }
  
  h3 {
    font-size: 28px;
    font-weight: bold;
  }