* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* 让 wrapper 里的元素 flex 布局 */
.wrapper {
  min-width: 1100px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
#options {
  width: 100%;
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  position: relative;
}
#options #code_body {
  height: 100%;
}
#options #speed_btn {
  z-index: 3;
  position: absolute;
  right: 20px;
  top: 10px;
  transition: all 0.2s;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
#options #speed_status {
  transition: all 0.2s;
  font-size: 24px;
  margin-left: 10px;
}
#options #description {
  opacity: 0;
  font-size: 14px;
  transition: all 0.2s;
}
#options #speed_btn:hover #speed_status {
  transform: scale(1.5);
}
#options #speed_btn:hover #description {
  opacity: 1;
}
.qrcode-trigger {
  position: relative;
}
.qrcode {
  position: absolute;
  z-index: 2;
  bottom: 105%;
  left: -50%;
  width: 180px;
  height: 180px;
  transform: scale(0);
  opacity: 0;
  border: 6px solid #fafafa;
  box-shadow: 0 0 4px 0 #ddd;
  background: #fafafa;
  border-radius: 4px;
  transition: transform 10ms, opacity 0.3s ease-in-out;
}
.qrcode-trigger:hover .qrcode {
  opacity: 1;
  transform: scale(1);
}
.avatar {
  width: 0;
}

.downloadResume {
  display: none;
  opacity: 0;
  font-size: 14px;
  font-weight: bold;
  color: #CFD8DC;
  text-align: center;
  line-height: 58px;
  margin-top: 14px;
  border-radius: 5px;
  border: 1px solid #CFD8DC;
  transition: all 0.2s, display 10ms;
}
.downloadResume:hover {
  box-shadow: 0 1px 6px 1px #cfdbdcbb;
}
.downloadResume.show {
  display: inline-block;
  opacity: 1;
}

.skipper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  transition: all 0.2s;
}
.blinkingButton {
  display: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 22px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  color: #fff;
  animation: blinking 5s alternate infinite ease-in-out;
}
@keyframes blinking {
  from { background-color: #455A6426; box-shadow: 0 0 9px #35454d26; }
  50% { background-color: #455a64; box-shadow: 0 0 18px #455a6426; }
  to { background-color: #455A6426; box-shadow: 0 0 9px #35454d26; }
}

.token.comment, .token.punctuation, .token.property, .token.selector {
  color: black;
}

code {
  padding: 2px 4px;
  margin-right: 4px;
  border-radius: 4px;
  color: #455A64;
  background-color: #455a6426;
  height: 18px;
  line-height: 18px;
  font-size: 90%;
  font-family: Consolas,monospace,serif;
}

@keyframes breathe
{
  0% { box-shadow: 0 0 1px 0px #CFD8DC; }
  50% { box-shadow: 0 0 10px 4px #CFD8DC; }
  100% { box-shadow: 0 0 1px 0px #CFD8DC; }
}