body {
    position: relative;
    background-color: white;
}

h1 { 
    text-align: left;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 0px;
    color: black; 
    font-family: Arial, Helvetica, sans-serif;
}

h2 { 
    text-align: left;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 0px;
    color: black; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

p {
    text-align: left;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 50%;
    margin-bottom: 0px;
    color: black; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

img {
    border-radius: 50%;
    max-width: 300px;
    height: 200px;
    padding: 5px;
    margin-left: 30px;
  }

ul {
    text-align: left;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 50%;
    margin-bottom: 0px;
    color: black; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
